* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

.prohead { 
    background-color: #ff5a5f;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo img {
    max-width: 120px;
    height: auto;
}

/* Navbar Menu */
.navmenu {
    display: flex;
    margin-right: 45%;
    margin-left: 28%;
    /* Vertically center the items */

}

.navmenu a{
    color:black;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 1.5s ease; 
    
}  


.navmenu a:hover {
    color: #ee1c47;
    margin: 0 10px;
    background-color: antiquewhite;
    border-radius: 25px;
}


/* Navbar Icons */
.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all 0.42s ease;
}

#diff{
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    background-color: rgba(91, 2, 2, 0.504);
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: #ee1c47;
}


svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
    font-family: 'Jost', sans-serif;
    margin-left: 40%;
    font-weight: bolder;
}
.listProduct .item img{
    width: 90%;
    border-radius: 15%;
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.292));
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: bolder;
    margin-top: 10%;
    font-family: 'Jost', sans-serif;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 3px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 750;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 15px;
    font-weight: bolder;
    border-radius: 20px;
}

.listProduct .item button:hover{
    background-color: #41000276;
    color: #fff;
    transition: all 0.5s ease;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 75px;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity .minus,.plus{
    font-size: larger;
    font-weight: bold;
}

.listCart .quantity span:hover{
    background-color: #ff5a5abc;
    color: #eee;
}

.listCart .totalPrice{
    font-size: 13px;
    font-weight: bolder;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

.btn .close,.btn .checkOut{
    font-family: 'jost', sans-serif;
    font-weight: bolder;
}


@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .navmenu
    {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1340px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .navmenu
    {
        margin-right: 0;
        margin-left: 0;
    }
    
}

/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .navmenu
    {
        margin-right: 0;
        margin-left: 0;
    }
}


@media only screen and (max-width: 450px) {
    .listProduct{
        grid-template-columns: repeat(1, 1fr);
    }
    .navmenu
    {
        margin-right: 0;
        margin-left: 0;
    }

    .logo img {
        display: none;
    }

    .title{
        margin-left: 50px;
    }
    
}
